CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_API_TOKEN=
PAT_TOKEN=
FARCASTER_FID=
FARCASTER_CUSTODY_ADDRESS=
FARCASTER_CUSTODY_PRIVATE_KEY=
TOGETHER_API_KEY=
VERCEL_TOKEN=
VERCEL_ORG_ID=
# NEXT_PUBLIC_APP_DOMAIN=your-app-domain.ngrok-free.app
# SCREENSHOT_URL=https://your-app-domain.ngrok-free.app
BROWSERLESS_API_URL=
NEYNAR_API_KEY=
FARCASTER_BEARER_TOKEN=
OPENROUTER_API_KEY=
GEMINI_API_KEY=
AI_GATEWAY_API_KEY=
CDP_API_KEY_ID=
CDP_API_KEY_SECRET=
CDP_WALLET_SECRET=
OPENAI_API_KEY=
ZORA_API_KEY=
NEXT_PUBLIC_BASE_CHAIN_ID=
NEXT_PUBLIC_BASE_RPC_URL=
PAYMASTER_URL=
CDP_CLIENT_API_KEY=
CDP_RPC_URL_BASE_SEPOLIA=
CDP_RPC_URL_BASE=
